services:
  frontend:
    build:
      context: ./frontend-rag-deep-learning-chatbot
    ports:
      - "7654:4200"
    depends_on:
      - backend
    working_dir: /workspace
    networks:
      - rag-network

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    working_dir: /workspace
    volumes: 
      - ./backend/documents:/workspace/documents
    env_file:
      - .env
    networks:
      - rag-network

networks:
  rag-network:
    driver: bridge
